/* ? if setting a element with position:sticky, the parent element also position:sticky */
/* * sticky, fixed, background-attachment:fixed, overlay*/
/* color:#222 (good looking gray */
/* todo: bootstrap's background-color need adjust(transparent) */

:root {
  --text-color: white;
  --background-color: ;
  --stickyNav-color: #d4a373;
}

.navbar-brand {
  font-weight: 600;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.navbar-nav a {
  transition: 0.5s;
}

/* carousel ↓  */

.carousel-item img {
  height: 950px;
}

.content-text {
  height: 200px;
  width: fit-content;
  position: absolute;
  bottom: 350px;
  right: 350px;
  overflow-wrap: break-word;
  /* text-wrap */
}

.heading,
.caption {
  color: var(--text-color);
  font-size: 50px;
  text-align: right;
}
/*  ↑ navbar,hero */

.sticky {
  background-color: var(--stickyNav-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.sticky nav {
  transition: 0.5s;
}

header {
  background-color: transparent;
  height: 76px;
  transition: 0.5s;
}
/*  ↑ sticky navbar effect*/
/*  ↓ main page */

main {
  height: 2500px;
  background-color: #14213d;
}

.intro-section-holder {
  display: flex;
  /*  ↓ div wrap */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
  background-color: #adb5bd;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 800px;
  background-color: #ced4da;
}

.content {
  width: 700px;
  height: 500px;
  margin: 0px 30px 0px 30px;
  background-color: #e9ecef;
}

/* grid ↓ */

.bento-holder {
  width: 100%;
  height: 850px;
  background-color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento-wrapper {
  display: grid;
  grid-template-columns: 600px 995px;
  grid-template-rows: 55% 45%;
  gap: 5px;
  width: 1600px;
  height: 700px;
  background-color: #e9ecef;
}

.item1 {
  background-color: red;
}
.item2 {
  background-color: blue;
}
.item3 {
  background-color: purple;
  width: 50%;
}
.item4 {
  background-color: green;
}
.item5 {
  background-color: orange;
}
.item6 {
  background-color: orangered;
}
