/* ? if setting a element with position:sticky, the parent element also position:sticky */
/* * sticky, fixed, background-attachment:fixed, overlay*/
/* todo: bootstrap's background-color need adjust(transparent) */

html {
  /* * smooth scrolling */
  scroll-behavior: smooth;
}

:root {
  --White-text-color: white;
  --Black-text-color: #050505;
  --background-color: #fefae0;
  --stickyNav-color: #222222;
}

.nav-link {
  margin: 0px 6px 0px 6px;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 15px;
}

.nav-link i {
  margin-right: 5px;
}

.navbar-nav {
  display: inline-block;
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 3.5px;
}

.navbar-logo {
  width: 50px;
  height: 50px;
}

.button-parent {
  width: 85px;
  margin-right: 20px;
}

.button-parent button {
  font-weight: bold;
  font-size: 18px;
}

.navbar-collapse {
  width: 100%;
  background-color: var(--background-color);
}

/* navbar ↑  */
/* carousel ↓  */

.item-text {
  z-index: 999;
  height: 200px;
  width: fit-content;
  position: absolute;
  bottom: 380px;
  right: 835px;
  overflow-wrap: break-word;
  /* text-wrap */
}

.carousel-item {
  height: 940px;
}

.slide-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images-active/slide1.JPG);
}
.slide-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images-active/slide2.JPG);
}
.slide-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images-active/slide3.JPG);
}

.slide-gradient {
  width: 100%;
  height: 100%;
  /* !Needed memorize */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.heading p {
  color: white;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 4px;
}

.heading span {
  color: #8ac247;
  letter-spacing: 4px;
}

.caption p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2.5px;
}

.scrollDown-container {
  z-index: 150;
  position: absolute;
  top: 860px;
  left: 860px;
}

.scrollDown-container a:hover {
  text-decoration: none;
}

.scrollDown {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 80px;
  border-radius: 200px 200px 0% 0%;
  background-color: #ffffff93;
  text-decoration: none;
  transition: 0.5s;
}

.scrollDown h5 {
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #222;
}

.scrollDown:hover {
  transition: 0.5s;
  text-decoration: none;
  background-color: var(--background-color);
}

/*  carousel */

.sticky {
  background-color: var(--background-color);
  margin: 0px 0px 0px 0px;
  box-shadow: rgba(61, 61, 61, 0.767) 0px 7px 29px 0px;
}

header {
  background-color: var(--background-color);
  height: 76px;
  transition: 0.5s;
  margin: 0px 0px 0px 0px;
  box-shadow: #fefae0a8 0px 7px 29px 0px;
}
/*  ↑ sticky navbar effect*/
/*  ↓ main page */

main {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
}

.content-section-holder {
  display: flex;
  /*  ↓ div wrap */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 960px;
  background-image: url(./images-active/content-section-bgv2.2.jpg);
  background-size: cover;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1725px;
  height: 750px;
  background-color: transparent;
}

.content {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(23, 75px);
  grid-template-rows: repeat(10, 75px);
}

.content-text {
  grid-column: 11/21;
  grid-row: 3/11;
  background-color: #606c38;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-text h6 {
  color: #e49f29a4;
  letter-spacing: 2.5px;
  font-size: small;
  text-align: left;
}

.content-text h1 {
  font-weight: 600;
  letter-spacing: 3.5px;
  font-size: 60px;
  color: #fefae0;
}

.content-text h1 span {
  font-weight: 600;
  letter-spacing: 3.5px;
  font-size: 60px;
  color: #e4a029;
}

.content-text p {
  margin-top: 10px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 500;
  color: #fefae0;
}

.intro-image {
  grid-column: 5/12;
  grid-row: 1/7;
  background-image: url(./Gallery/market_pic04.JPG);
}

.change-button-1 {
  grid-column: 5/6;
  grid-row: 8/9;
  background-color: cadetblue;
  border-radius: 15px;
}

.change-button-2 {
  grid-column: 7/8;
  grid-row: 8/9;
  background-color: cadetblue;
  border-radius: 15px;
}

.change-button-3 {
  grid-column: 9/10;
  grid-row: 8/9;
  background-color: cadetblue;
  border-radius: 15px;
}

/* Bento grid */
.content-img {
  margin: 0px 30px 0px 30px;
  display: grid;
  grid-template-columns: 110px 110px 110px 110px 110px 110px 110px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  gap: 10px;
}
.content-img-1 {
  grid-row: 1/4;
  grid-column: 1/4;
  background-image: url(./Gallery/market_pic08.JPG);
  border-radius: 10px;
}
.content-img-2 {
  grid-row: 1/4;
  grid-column: 4/8;
  background-image: url(./Gallery/market_pic07.JPG);
  border-radius: 10px;
}
.content-img-3 {
  grid-row: 4/7;
  grid-column: 3/6;
  background-image: url(./Gallery/market_pic06.JPG);
  border-radius: 10px;
}

.intro-slide-1 {
  background-image: url(./images-active/content-img.JPG);
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 10px;
}
.intro-slide-2 {
  background-image: url(./images-active/content-img2.JPG);
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 10px;
}

.intro-text span {
  font-weight: bolder;
  font-size: 65px;
  color: var(--Black-text-color);
  letter-spacing: 4px;
}

.intro-text p {
  margin-top: 35px;
  font-size: 20px;
  color: var(--Black-text-color);
  font-weight: 600;
  letter-spacing: 2px;
}

/* grid ↓ */

.bento-holder {
  width: 100%;
  height: 1000px;
  background-image: url(./images-active/bento-bgv2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 170px 170px 170px 170px;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  border-radius: 10px;
  cursor: pointer;
}

.item-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  transition: 0.5;
  background-image: url(./images-active/item-1.JPG);
}
.item-2 {
  grid-column: 4 / 9;
  grid-row: 1 / 3;
  background-image: url(./images-active/item-2.JPG);
}
.item-3 {
  grid-column: 1 /3;
  grid-row: 3 / 5;
  background-image: url(./images-active/item-3.JPG);
}
.item-4 {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
  background-image: url(./images-active/item-4.JPG);
}
.item-5 {
  grid-column: 6/9;
  grid-row: 3/5;
  background-image: url(./images-active/item-5.JPG);
}

.item-1:hover .overlay,
.item-2:hover .overlay,
.item-3:hover .overlay,
.item-4:hover .overlay,
.item-5:hover .overlay {
  opacity: 1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  background-color: #00000041;
}

.overlay h1 {
  color: white;
}

.banner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url(./images-active/banner-image.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner-text-1 {
  backdrop-filter: ;
  width: 900px;
  height: 200px;
  text-align: center;
  color: var(--White-text-color);
}

.banner-text-1 h2 {
  font-size: xx-large;
  font-weight: bold;
  color: var(--White-text-color);
  letter-spacing: 2px;
  line-height: 50px;
}

/* .banner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-image: url(./images-active/banner-image-2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner-text-2 {
  backdrop-filter: ;
  width: 900px;
  height: 200px;
  text-align: center;
  color: var(--White-text-color);
  background-color: #222;
} */

/* ! cart section ↓ */

.container-cart * {
  margin: 0;
  padding: 0;
  color: var(--Black-text-color);
}

.container-cart {
  background-color: var(--background-color);
  height: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cart {
  background-color: transparent;
  width: 1450px;
  height: 700px;
}

.card-cart-title h4 {
  color: var(--Black-text-color);
  font-weight: 600;
  font-size: 30px;
  margin: 30px 0px 30px 0px;
  letter-spacing: 3px;
}

.card-cart-title p {
  color: var(--Black-text-color);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}

.item-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.description {
  width: 340px;
  height: 500px;
  margin-top: 40px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: var(--background-color);
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* promo */

.promo {
  width: fit-content;
  height: fit-content;
  margin: 0px 30px 0px 30px;
}

.promo h2 {
  color: var(--Black-text-color);
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  letter-spacing: 3px;
}

.promo p {
  color: var(--Black-text-color);
  font-size: 16px;
  letter-spacing: normal;
  line-height: 150%;
  font-weight: 500;
  text-align: left;
  margin: 20px 0px 20px 0px;
  letter-spacing: 3px;
}

.cart-btn {
  width: 150px;
  margin-left: 30px;
}

.promo-button p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
}

.cart-img {
  margin-top: 15px;
  margin-bottom: 20px;
}

.cart-img img {
  width: 140px;
  transform: rotate(-45deg);
}

/* .button {
  position: relative;
  bottom: 0px;
  top: 130px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.button a {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #404e4f;
  font-family: 600;
  color: var(--White-text-color);
  text-decoration: none;
}

.button a:hover,
.button-1 a:hover {
  color: var(--White-text-color);
  background-color: #404e4f;
  text-decoration: none;
} */

/* ! cart section ↑  */
/* schedule section ↓ */
/* 
.schedule-container {
  height: 1000px;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.schedule-title {
  width: fit-content;
  height: fit-content;
}

.schedule-title h4 {
  color: var(--Black-text-color);
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.schedule-wrapper {
  height: 735px;
  width: 1110px;
  display: grid;
  grid-template-columns: repeat(14, 70px);
  grid-template-rows: repeat(6, 50px) 10px repeat(7, 50px);
  gap: 10px 20px;
}
.schedule-1 {
  grid-row: 1/7;
  grid-column: 2/5;
  background-color: #e4a029;
}
.schedule-2 {
  grid-row: 1/7;
  grid-column: 5/8;
  background-color: #e4a029;
}
.schedule-3 {
  grid-row: 1/7;
  grid-column: 8/11;
  background-color: #e4a029;
}
.schedule-4 {
  grid-row: 1/7;
  grid-column: 11/14;
  background-color: #e4a029;
}
.schedule-5 {
  grid-row: 8/14;
  grid-column: 2/5;
  background-color: #e4a029;
}
.schedule-6 {
  grid-row: 8/14;
  grid-column: 5/8;
  background-color: #e4a029;
}
.schedule-7 {
  grid-row: 8/14;
  grid-column: 8/11;
  background-color: #e4a029;
}
.schedule-8 {
  grid-row: 8/14;
  grid-column: 11/14;
  background-color: #e4a029;
} */

/* traffic section */

.traffic-container {
  width: 100%;
  height: 800px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.traffic-text {
  margin: 40px 0px 40px 0px;
}

.traffic-text h1,
.traffic-text p {
  letter-spacing: 3px;
  line-height: 40px;
}

.traffic-text h1 {
  font-weight: 600;
}

.traffic-text p {
  font-size: 18px;
}

.card-title {
  display: flex;
}

.card-title h1 {
  margin-left: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}

.traffic-wrapper {
  width: 1400px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(26, 50px);
  grid-template-rows: repeat(12, 50px);
}

.card-caption ul li {
  list-style: none;
}

.card-caption {
  letter-spacing: 2px;
  font-size: 18px;
}

.traffic-card-1 {
  grid-column: 1/9;
  grid-row: 1/6;
}
.traffic-card-2 {
  grid-column: 11/18;
  grid-row: 1/6;
}
.traffic-card-3 {
  grid-column: 19/28;
  grid-row: 1/6;
}
.traffic-card-4 {
  grid-column: 1/12;
  grid-row: 7/13;
}
.traffic-card-5 {
  grid-column: 16/28;
  grid-row: 7/13;
}

/* footer */
footer {
  background-image: url(./images-active/foot-bg.jpg);
  letter-spacing: 2.5px;
}
.title img {
  width: 75px;
  height: 75px;
}
.title span {
  font-weight: bold;
  font-size: 30px;
}
.title-p {
  font-size: 20px;
}
.title-span {
  font-weight: bold;
  font-size: 25px;
}
.footer-link,
.footer-group label {
  font-weight: bold;
}

/* decoration */

.line {
  width: 100%;
  height: 3px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.d-line {
  width: 77%;
  height: 4px;
  border-radius: 100px;
  background-color: rgba(161, 161, 161, 0.459);
}
